body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

h1{
    box-sizing: border-box;
    margin: 0;
    padding-left: 80px;
    padding-top: 20px;
    color: white;
    background-color: black;
    height: 80px;
    font-size: 35px;    
}

.container{
    width: 100%;
}

.image{
    border-radius: 5px;
    height: 250px;
    width: 250px;
    transition: 0.4s;
    padding: 0;
    margin: 0;
}

.imageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    flex-basis: 100%;
    margin: 50px 0;
}

.image:hover{
    transform: scale(1.1);
}

.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 80px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.6s ease-out;
    animation-name: openModal;
    animation-duration: 1s;
}

/* Use keyfram to activate the animation  */
@keyframes openModal{
    from{opacity: 0}
    to{opacity: 1}
}

.modalContent{
    box-sizing: border-box;
    display: flex;
    max-width: 1200px;
    border: 2px solid black;
    margin: 6% auto;
    background-color: white;
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.3), 0 3px 4px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease-out;
}

.modalImg{
    margin: 0;
    padding: 0;
    height: 450px;
    width: 600px;
    flex: 1.5;
}

.modalTxtContent{
    color: 	#606060;
    flex: 1;
    margin-right: 10px;
}

.closeButton{
    margin-right: 10px;
    color: 	#606060;
    font-size: 40px;
}

.closeButton:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalContent h2{
    font-size: 32px;
}

.modalContent p{
    font-size: 20px;
    font-family: 'Crimson Text', serif;
    align-items: stretch;
}

@media screen and(max-width: 425px){
    .image{
        height: 400px;
        width: 400px;
    }

    .modalImg{
        display: none;
    }
    
}

@media screen and(max-width: 768px){

}

@media screen and(max-width: 1024px){

}

@media screen and(max-width: 1280px){


}


